In [1]:
import pandas as pd

In [3]:
all_df = pd.read_csv("/home/think/Desktop/all_df.csv")

In [4]:
all_df.drop(all_df.columns[[0]], axis=1, inplace=True)

In [5]:
all_df

          id         x         y         z
0          1  0.100000  0.100000  0.100000
1          1  0.095657  0.102960  0.107116
2          1  0.091243  0.105749  0.114304
3          1  0.086763  0.108366  0.121566
4          1  0.082225  0.110810  0.128902
...      ...       ...       ...       ...
4999995  500  0.697298 -0.201389  0.617136
4999996  500  0.696305 -0.202385  0.618926
4999997  500  0.695297 -0.203362  0.620717
4999998  500  0.694274 -0.204320  0.622507
4999999  500  0.693237 -0.205257  0.624298

[5000000 rows x 4 columns]

In [12]:
import nolds

def extract_chaos_features(series):
    """Extract chaos features from a 1D time series."""
    return {
        'lyap': nolds.lyap_r(series),
        'corr_dim': nolds.corr_dim(series, emb_dim=10),
        'ap_entropy': nolds.sampen(series),
    }

def compute_features_by_id(df_all):
    """
    Agrupa por 'id' y calcula las features para cada grupo.

    Parameters
    ----------
    df_all : pd.DataFrame
        DataFrame con columnas ['id', 'x', 'y', 'z']

    Returns
    -------
    pd.DataFrame
        DataFrame con columnas ['id', 'lyap', 'corr_dim', 'ap_entropy']
    """

    feature_rows = []

    for id_value, group in df_all.groupby("id"):
        try:
            x_series = group["y"].values
            features = extract_chaos_features(x_series)
            features["id"] = id_value
            feature_rows.append(features)
        except Exception as e:
            print(f"Error calculating features for id {id_value}: {e}")

    return pd.DataFrame(feature_rows)

In [13]:
subset_df = all_df.iloc[1:10000]

In [14]:
subset_df_new = subset_df[["id", "y"]]

In [15]:
subset_df_new

      id         y
1      1  0.102960
2      1  0.105749
3      1  0.108366
4      1  0.110810
5      1  0.113081
...   ..       ...
9995   1 -0.804275
9996   1 -0.843197
9997   1 -0.880443
9998   1 -0.915961
9999   1 -0.949707

[9999 rows x 2 columns]

In [16]:

features_df = compute_features_by_id(subset_df_new)
features_df = features_df.sort_values("id").reset_index(drop=True)

print(features_df.head())

       lyap  corr_dim  ap_entropy  id
0  0.000575  1.359338    0.068571   1

In [17]:
features_df

       lyap  corr_dim  ap_entropy  id
0  0.000575  1.359338    0.068571   1

In [25]:
from tsfresh import extract_features

In [ ]:
from tsfresh import extract_features
weee = extract_features(subset_df_new, column_id='id')

Feature Extraction: 100%|██████████| 1/1 [01:08<00:00, 68.12s/it]

In [29]:
weee

,x__variance_larger_than_standard_deviation,x__has_duplicate_max,x__has_duplicate_min,x__has_duplicate,x__sum_values,x__abs_energy,x__mean_abs_change,x__mean_change,x__mean_second_derivative_central,x__median,...,x__fourier_entropy__bins_5,x__fourier_entropy__bins_10,x__fourier_entropy__bins_100,x__permutation_entropy__dimension_3__tau_1,x__permutation_entropy__dimension_4__tau_1,x__permutation_entropy__dimension_5__tau_1,x__permutation_entropy__dimension_6__tau_1,x__permutation_entropy__dimension_7__tau_1,x__query_similarity_count__query_None__threshold_0.0,x__mean_n_absolute_max__number_of_maxima_7
1,0.0,0.0,0.0,0.0,-143.779924,2645.006813,0.012984,-0.000114,0.000002,-0.001322,...,0.079983,0.136002,0.181214,0.764898,0.836522,0.909212,0.981772,1.0542,NaN,1.519426